body {
  background-image:url('./images/background.jpeg');
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-attachment:fixed;
}

header {
  width:90%;
  height:100%;
  margin: 1% 2% 3% 2%;
  border: none;
  opacity: 0.8;
  float: left;
  text-align:center;
}

#profile {
  float: left;
  text-align:center;
  background-color:grey;
  opacity: 0.8;
  width:30%;
  height:100%;
  border: none;
  margin-left: 2%;
}

#cbox {
  float:left;
  clear:none;
  margin-left: 2%;
  margin-top: 2%;
}

#navigation {
  margin-right: 8%;
  clear:none;
  float: right;
  width: 58%;
  height: 100%;
  border: none;
}

footer {
  clear:both;
  margin: 2% 2% 2% 2%;
  border: none;
  width: 90%;
  height: 100%;
  background-color:#FFA600;
  opacity:0.8;
}

/* Text Format */

h1 {
  font-family: 'Stalemate', cursive;
  font-size: 3em;
  color: #00FF00;
}

h2 {
  font-family: sans serif;
  Color: black;
}

h4 {
  font-family: Arial;
  color: black;
  font-size: 0.55em;
}

a {
  font-family: 'Freckle Face', cursive;
  font-size: 2em;
}

#email {
  font-family:Arial;
  color: black;
  font-size: 1em;
}

p {
  font-family: 'Freckle Face', cursive;
  font-size: 2em;
  color: #00FFFB;
}

.navi {
  color:#FFFF00;
}

#About {
  color:#FF3C00;
  font-size: 2em;
}

ol {
  font-family: 'Freckle Face', cursive;
  font-size: 2em;
  color: #00FFFB;
}

.edu {
  font-family: 'Freckle Face', cursive;
  font-size: 0.5em;
  color: #00FFFB;
}

ul {
  font-family: 'Freckle Face', cursive;
  font-size: 2em;
  color: #F6FF00;
}

.comp {
  font-family: 'Freckle Face', cursive;
  font-size: 1em;
  color: #00FFFB;
}

.inte {
  font-family: 'Freckle Face', cursive;
  font-size: 0.5em;
  color: #00FFFB;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
		body {
		  background-image:url('./images/background.jpeg');
		  background-repeat:no-repeat;
		  background-size: 100% 100%;
		  background-attachment:fixed;
		}

		header {
		  width:90%;
		  height:100%;
		  margin: 1% 2% 3% 2%;
		  border: none;
		  opacity: 0.8;
		  float: left;
		  text-align:center;
		}

		#profile {
		  float: left;
		  text-align:center;
		  background-color:grey;
		  opacity: 0.8;
		  width:30%;
		  height:100%;
		  border: none;
		  margin-left: 2%;
		}

		#cbox {
		  float:left;
		  clear:none;
		  margin-left: 2%;
		  margin-top: 2%;
		}

		#navigation {
		  margin-right: 8%;
		  clear:none;
		  float: right;
		  width: 58%;
		  height: 100%;
		  border: none;
		}

		footer {
		  clear:both;
		  margin: 2% 2% 2% 2%;
		  border: none;
		  width: 90%;
		  height: 100%;
		  background-color:#FFA600;
		  opacity:0.8;
		}
}